{{define "base"}}{
    "customer": {
        "id": "{{.id}}",
        "name": "{{.name}}",
        "address": {{marshalMapToJSON .address}},
        "misc": {
            "attributes": {{marshalMapToJSON .attributes}},
            "role": "{{.role}}",
            "extras": {{marshalMapToJSON .extras}}
        },
        "privileges": {
            {{template "oneOf1" .}}
        }
    }
}{{end}}
